/* 언어설정 */
@charset 'UTF-8';

/* reset */
* {margin: 0;
    padding: 0;}
ul,ol {list-style: none;}
a {text-decoration: none;
    color: #000;}
img {border: none;
    vertical-align: bottom;}

/* 박스1설정 */
.box1 {height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;}
.box1_inner {display: flex;
    justify-content: center;
    align-items: center;
    z-index: 12;
    position: absolute;}
.box1 .logo {width: 150px;
            height: 90px;
            margin-top: 20px;}
.box1 img {width: 100%;
            height: 100%;}

.box1 .menu {margin-top: 20px;}
.box1 .menu ul {display: flex;}
.box1 .menu li {padding: 40px;}
.box1 .menu a {font-weight: bold;
                font-size: 19px;
                color: #eee;}
.box1 .menu a:hover {border-bottom: #002396 3px solid;}
.box1 .util {position: absolute;
    z-index: 12;
    top: 0;
    right: 0;}
.box1 .util ul {display: flex;
                justify-content: flex-end;
                position: absolute;
                right: 50px;
                top: 20px;}
.box1 .util li {padding: 3px;
                margin-right: 2px;}
.box1 .util a {}
.box1 .util i {border: 1px #eee solid;
    border-radius: 50%;
    padding: 7px;
    color: #eee;
    font-size: 14px;}
.box1 .util p {font-size: 13px;
                padding: 7px;
                color: #eee;
                transition: all 0.7s;}
.box1 .util i:hover {background-color: #002396;}
.box1 .util p:hover {transform: scale(1.3);
                        }
.hero .box {background-color: #424242;
                            width: 100%;
                            height: 220px;
                            opacity: 0.3;
                            position: absolute;
                            top: 60%;
                            z-index: -1;
                }
                

/* 박스2설정 */
.box2 {width: 100%;
    height: auto;
    position: absolute;}
.box2 .vid {width: 100%;
    height: auto;
    position: absolute;
    z-index: -10;}
.box2 .vid video {width: 100%;
    height: 100%;
    background-position-y: -20px;}


.box2 .hero {
            z-index: 12;
            top: 50vh;
            position: absolute;

            width: 100%;}
.hero .box {background-color: #424242;
            width: 100%;
            height: 220px;
            opacity: 0.3;
            position: absolute;
            top: 60%;
            z-index: -1;
}

.hero_inner {margin-top: 200px;}
.hero h2 {font-size: 50px;
            font-weight: 600;
            margin-bottom: 10px;
            color: #fff;
            margin-left: 20px;}
.hero h2 span{color: #8DDEC1;
            font-size: 60px;
            }
.hero p {font-size: 20px;
        color: #fff;
        margin-left: 20px;}
.hero .btn {font-size: 15px;
            border: 1px #fff solid;
            display: inline-block;
            padding: 10px;
            position: absolute;
            top: 110%;
            left: 20px;
            color: #fff;}
.hero .btn:hover {background-color: #fff;
                color: #333;
                font-weight: 600;}




/* 박스3설정 */
.box3 {height: 60vh;
        background-color: #000;}
.box3-1{font-size: 45px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: 20px;
        padding-bottom: 50px;
        position: relative;}
.box3-1 span {font-size: 20px;
            Color: #8DDEC1 ;}
.box3-1 img {position: absolute;
                z-index: 1;
                top: 55px;
                right: 300px}


.box3-2 {display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
}

.box3-2 .imgbox {}
.box3-2 .txtbox {color: #fff;
                width: 26%;
                top: 75%;
                right: 18%;
                position: absolute;}
.box3-2 .btn {color: #fff;
                position: absolute;
                right:17.8%;
                top: 89%;
                font-size: 16px;
                transition: all 0.4s;
                cursor: pointer;}
.box3-2 .btn:hover {color: #8DDEC1;
                    }

/* 박스4설정 */
.box4 {height: 80vh;
    background-color: #000;
    position: relative;}
.box4 .title_Top {font-size: 45px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 40px;}
.box4 span {font-size: 20px;
            color: #8DDEC1;}
.box4 .title_Top img {position: absolute;
                z-index: 1;
                top: 90px;
                right: 300px;}

.box4 .titleBox {}
.box4 .titleBox ul {display: flex;
                    justify-content: center;
                    align-items: center;}
.box4 .titleBox li {color: #fff;
                    cursor: pointer;
                    font-size: 20px;}


/* ########## */
.box4 .listBox {width: 80%;
                margin: 0 auto;}
.box4 .listBox ul {display: flex;
                    width: 100%;
                    height: 550px;}
.box4 .listBox li {width: 33.3333%;
                    height: auto;}
.box4 .listBox img {width:100%;
                    height: 100%;}

/* ############# */
.titleBox li.on {color: #8DDEC1;} 
.news {position: relative;
    background-color: rebeccapurple;
    width: 100%;
    height: 550px;}
.news>li {position: absolute;
        top: 0;
        left: 0;
        display: none;}

.box4 .listBox span {font-size: 14px;
    cursor: pointer;
    color: #000;
    background-color: #8DDEC1;
    border: #8DDEC1 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    bottom: 40px;}
.box4 .listBox p {font-size: 17px;
                text-align: center;
                position: absolute;
                bottom: 70px;
                width: 40%;
                }
.box4 .more {font-size: 30px;
                color: #fff;
                position: absolute;
                top: 130px;
                right: 40px;
                cursor: pointer;
            }
.box4 .more:hover {color: #8DDEC1;}
.titleBox li:nth-child(2):before {display: inline-block;
    content: '\002f';
    margin: 0 5px;}
.titleBox li:nth-child(3):before {display: inline-block;
        content: '\002f';
        margin: 0 5px;}


        

/* 박스4 vid설정 */
.titleBox2 li.on {color: #8DDEC1;} 
.listBox2 {width: 80%;
            margin: 0 auto;
            height: 550px;
            position: relative;}
.vid {width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;transform: translateY(-50px);
    display: none;}
.vid source {width: 100%;
            height: 100%;
            }

                

/* 박스4 gllery설정 */
.titleBox3 li.on {color: #8DDEC1;} 
.listBox3 {width: 800px;
    margin: 20px auto;
    background-color: rgb(236, 134, 0);
display: none;}
.container {width: 700px;
                height: 600px;
                margin: 0 auto;
                background-color: thistle;
                position: relative;}

.container p {width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        display: none;}
.container p:nth-child(1) {width: 100%;}
.container img {width: 100%;
            height: auto;}

.trailer {width: 700px;
        height:  100px;
        margin: 0 auto;
        background-color: rgb(172, 131, 172);
        overflow: hidden;}
.trailer ul {display: flex;
        width: 1600px;}
.trailer li {background-color: teal;
        border: 1px solid #fff;
        box-sizing: border-box;
        width: 200px;
        height: 100px;
        overflow: hidden;}
.trailer li img{width: 100%;
                        height: auto;
                        transform: translateY(-20%);}

/* 박스5설정 */
.box5 {background-image: url(https://www.thespacekids.com/images/main_wr03_bg_mo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 -200px;
        width: 100%;
        height: 70vh;
        background-color: #000;
        }
        
.box5 .title {font-size: 45px;
                color: #fff;
                font-weight: 600;
                text-align: center;
                padding-top: 40px;
                }

.box5 .listBox {margin: 0 auto;
                width: 60%;}
                .listBox .box {background-color: #424242;
                    width: 100%;
                    height: 220px;
                    opacity: 0.3;
                    position: absolute;
                    top: 60%;
                    z-index: -1;
        }
.box5 .listBox ul {display: flex;
                    }
.box5 .listBox li {display: flex;
                    width: 33.3333%;
                    flex-direction: column;
                    margin: 60px;
                    padding-top: 40px;}
.box5 .listBox img {width: 100%;
                    height: 100%;
                    margin-bottom: 20px;}
                    .box5 .listBox li:nth-child(2) img {width: 100%;
                                                        height: 80%;}
.box5 .listBox strong {color: #fff;
                        font-size: 20px;
                        font-weight: 500;
                        border: 1px solid #fff;
                        padding: 10px;
                        border-radius: 10px;
                        display: inline-block;
                        text-align: center;}
.box5 .listBox p {font-size: 16px;
                color: #fff;
                border-top: 1px #fff solid;
                margin-top: 10px;
                padding-top: 10px;
                text-align: center;
                }
                .box5 .listBox strong:hover {background-color: #002396;}



/* 박스6설정 */
.box6 {height: 70vh;
    background-color: #000;
    position: relative;}
    .box6 img {position: absolute;
        z-index: 1;
        top: 13%;
        right: 300px}
.box6 .title {font-size: 45px;
            font-weight: bold;
            text-align: center;
            color: #fff;
            padding-top: 50px;
            padding-bottom: 50px;}
            .box6 .title span {font-size: 20px;
                                color: #8DDEC1;}
.bigBox {display: flex;
    width: 80%;
    margin: 0 auto;
    height: 450px;}        
    

/* formBox 설정 */
.formBox {width: 30%;
            height: 450px;
            background-image: url(img/Rectangle\ 138.png);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;}
i{color: #8DDEC1;
    font-size: 12px;
    margin-right: 12px;}
.formBox h3 {padding: 20px;
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: #000 3px solid;
    }
.check {}
.check ul {padding-bottom: 20px;
        padding-top: 10px;
        margin-left: 10px;}
.check li {margin-bottom: 10px;}
button {
    font-size: 15px;
    background-color: #002396;
    color: #fff;
    border: 1px #002396 solid;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
    button:hover {background-color: #fff ;
                    color: #002396;}



.formBox .txtbox>div {}
.formBox .txtbox table {}
.single {width: 100%;}
.single table {width: 100%;
    border-collapse: collapse;
    margin-top: 20px;}
    .single tr {border-top: 3px solid #000; }
.single td {   
    border: 1px solid #424242;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;}
    .single td:nth-child(1):hover {background-color: #002396;
                                    color: #fff;}
    .single td:nth-child(2):hover {background-color: #002396;
                                    color: #fff;}
.name {padding: 20px;
        position: relative;
        border-bottom: 2px solid #000;}
.name label {font-size: 18px;
            font-weight: bold;
            }
.name input {border: none;
    background: transparent;
    padding: 10px;
    position: absolute;
            right:  0;}
            .name i {font-size: 20px;
                        color: #000;
                        margin-left: 10px;}
                        .name input:focus {outline: none;}

.people {padding: 20px;
    display: flex;
            justify-content: flex-end;
            align-items: end;
            position: relative;}
.people label {font-size: 18px;
    font-weight: bold;
    margin-right: 200px}
.people select {padding: 10px;
                border: 2px solid #000;}
.people i {font-size: 20px;
    color: #000;
    position: absolute;
    left: 90px;}



/* formBox1설정 */
.formBox1 {width: 70%;
    height: 100%;
    background-color: #ddd;
    display: flex;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 70px;
    }
    .formBox1 h3 {padding: 10px;
        display: flex;
    border-bottom: #000 3px solid;
    margin-top: 50px;}
.formBox1 .txtBox {width: 100%;
                height: 65%;
                flex-wrap: wrap;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                position: relative;}

.cal001 {width: 80%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        border-radius: 20px;
        background-color: #fff;}
        
.cal001 h2 {background-color: #002396;
            color:#fff;
            font-size: 24px;
            padding: 20px;
            width: 100%;
            height: 20%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding-right: 20px;}
.form {display: flex;
    flex-direction: row-reverse;}
.cal001 table {width: 100%;
        border-collapse: collapse;
        margin-top: 5px;
        }

.cal001 th, td {
            padding: 8px;
            font-size: 20px;
            text-align: center;
            width: 50px;
            height: 70%;}
.cal001 th {background-color: #8DDEC1;
            }
table p {padding: 10px;
        width: 40%;
        height: 40%;
        margin-left: 12px;}
table p:hover {background-color: #002396;
                
                border-radius: 100%;
                color: #fff;}



/* 박스7설정 */


.box7 {background-image: url(img/img1.jpg);
        height: 500px;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: start;
        align-items: center;
        background-position-y: -20px;}
.box7 .title strong {font-size: 50px;
                    color: #fff;
                    font-weight: bold;
                    margin-left: 50px;
                    }
.box7 .title p {font-size: 20px;
                color: #fff;
                width: 70%;
                margin-left: 50px;
                margin-top: 20px;}


/* 박스8설정 */
.box8 {height: 70vh;
    background-color: #000;
    position: relative;}
    .box8 img {position: absolute;
        z-index: 1;
        top: 10%;
        right: 300px}
.box8 .map {width: 100%;
            height: 100%;}
.box8 iframe{width: 85%;
        height: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;}
.box8 .title {color: #fff;
            font-size: 45px;
            text-align: center;
            font-weight: bold;
            padding-top: 30px;}
.box8 .listBox {
                display: flex;
                justify-content: center;
                align-items: center;}
.box8 strong {color: #fff;
            font-size: 22px;}
.box8 p {color: #fff;
        font-size: 18px;}


/* 박스9설정 */
.box9 {height: 200px;
        background-color: #424242;
        position: relative;}
.footer_logo {width: 150px;
                height: 150px;}
.footer_logo img{width: 150px;
                height: 150px;
                position:absolute;
                right: 45%;}
                


footer ul {display: flex;
            justify-content: center;
            align-items: center;}
footer li {}
footer a {color: #777;}
footer li:nth-child(2):before {display: inline-block;
    content: '\002f';
    margin: 0 5px;
    color: #777;}
    footer li:nth-child(3):before {display: inline-block;
        content: '\002f';
        margin: 0 5px;
        color: #777;}
        footer li:nth-child(4):before {display: inline-block;
            content: '\002f';
            margin: 0 5px;
            color: #777;}
            footer li:nth-child(5):before {display: inline-block;
                content: '\002f';
                margin: 0 5px;
                color: #777;}
                footer li:nth-child(6):before {display: inline-block;
                    content: '\002f';
                    margin: 0 5px;
                    color: #777;}
                    footer li:nth-child(7):before {display: inline-block;
                        content: '\002f';
                        margin: 0 5px;
                        color: #777;}
                        footer li:nth-child(8):before {display: inline-block;
                            content: '\002f';
                            margin: 0 5px;
                            color: #777;}
